@import '../../all.scss';

.reading-top {
  width: 100%;
  max-width: 640px;
  margin: 24px auto;
  line-height: 35px;
  display: flex;
  .fa-caret-right {
    display: inline-block;
    line-height: 35px;
    padding: 0px 8px;
  }
  select {
    width: 127px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid $color-black;
    outline: none;
    padding: 4px 16px;
    &.page-select {
      border-left: none;
    }
    option {
      &:hover {
        background-color: $color-black;
        color: $color-yellow;
      }
    }
  }
  .day-and-night {
    margin-left: auto;
    display: flex;
  }
  
}