@import '../../all.scss';

.reading-body {
  width: 100%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 0px;
  .comic-imgae {
    display: inline-block;
    font-size: 0px;
  }
  .pre-button,.next-button {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0px;
    font-size: 45px;
    color: $color-light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    &:hover {
      background-color: $color-black;
      color: $color-yellow;
    }
  }
  .pre-button {
    left: -80px;
  }
  .next-button {
    right: -80px;
  }
}