@import '../../all.scss';

.reading-slider {
  width: 100%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  display: flex;
  .slider {
    display: flex;
  }
  .comic-imgs {
    width: 80px;
    min-width: 80px;
    margin: 0px 10px;
    &:last-child {
      margin-right: 50px;
    }
    &:first-child {
      margin-left: 50px;
    }
    .num {
      font-size: 14px;
      font-weight: bold;
      width: 100%;
      text-align: center;
      vertical-align: bottom;
      &.now {
        visibility: hidden;
      }
    }
    .img {
      width: 100%;
      height: 120px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: grayscale(100%);
      &.now{
        border: 3px solid $color-black;
        filter: grayscale(0);
        &:before,&:after{
          bottom: 103%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:before{
          border-color: rgba(194, 225, 245, 0);
          border-bottom-color: $color-black;;
          border-width: 4px;
          margin-left: -4px;
        }
        &:after{
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: $color-black;;
          border-width: 10px;
          margin-left: -10px;
        }
        .shadow {
          display: none;
        }
      }
      .shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(black,0.2);
      }
    }
  }
  .pre-button,.next-button {
    position: absolute;
    height: 120px;
    width: 40px;
    bottom: 0;
    background-color: $color-gray;
    color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: .3s;
    &:hover {
      background-color: $color-yellow;
      color: $color-black;
    }
  }
  .pre-button {
    left: 0px;
  }
  .next-button {
    right: 0px;
  }
}