@import '../../all.scss';

.reading-top {
  width: 100%;
  max-width: 640px;
  margin: 12px auto 12px auto;
  line-height: 35px;
  display: flex;
  flex-wrap: wrap;
  .select-box {
    display: flex;
  }
  .fa-caret-right {
    display: inline-block;
    line-height: 35px;
    padding: 0px 8px;
  }
  .day-and-night {
    margin-left: auto;
    display: flex;
    align-items: center;
    .switch-dark {
      display: flex;
      align-items: center;
      margin: 0px 8px;
    }
    i.night {
      display: none;
    }
    input[type^="checkbox"] {
      display: none;
      &:checked {
        ~ label {
          &:before{
            transform: translateX(100%);
          }
        }
      }
    }
    label {
      display: inline-block;
      width: 48px;
      height: 24px;
      border: 2px solid $color-black;
      background-color: $color-black;
      cursor: pointer;
      &:before {
        content: '';
        display: inline-block;
        width: 50%;
        height: 100%;
        background-color: #F2F2F2;
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s;
      }
    }
  }
  @media screen and (max-width: $media-size-ipad){
    padding: 0 15px;
    .select-box {
      margin-top: 8px;
      width: 100%;
      justify-content: center;
      order: 1;
    }
  }
}

.reading-top.night {
  .title3,.fa-caret-right {
    color: $color-white;
  }
  .day-and-night {
    label {
      border: 2px solid $color-white;
    }
    i.day {
      display: none;
    }
    i.night {
      display: block;
      color: white;
    }
  }
}